$clr-primary-dark: #282c34;
$clr-primary-lighter: #bec9e2;
$clr-bg-blue: #649ce6;

$clr-primary-light: #393e4a;

$clr-primary: hsl(234, 19%, 19%);
$clr-primary--lighter: hsl(234, 19%, 25%);
$clr-secondary: #0dbacc;
$clr-danger: #e24d67;
$clr-border: #983a5e;

$clr-secondary--darker: #003b4d;
$clr-danger--darker: #e14d66;

$clr-secondary--lighter: #1ae1f7;

$clr-text--light: #fdfcff;
$clr-text--dark: #002e3b;
$clr-text--primary: #0dbacc;

$border-container: 2px solid $clr-border;
$border-input: 2px solid $clr-secondary;

$clr-primary-darker: #347fe0;
