@use "variables" as vars;
@use "mixins";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 1rem;
}

body {
  @include mixins.scrollbars();
}

.centered {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: 90vh;
  width: 80vw;
  height: auto;
  position: relative;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
