@use "variables" as vars;
@use "mixins";

.container {
  border: vars.$border-container;
  color: vars.$clr-text--light;
  padding: 2rem;
  position: relative;
  margin: 2rem 0;
  width: 30rem;

  * {
    word-break: break-all;
  }
}

.date {
  word-break: keep-all;
}

.title {
  font-weight: normal;
  border-bottom: 1px solid black;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.25rem;
  }
}

.notes {
  margin: 1rem 0;
}

.completeBtn {
  @include mixins.primary-btn;
  font-size: 0.75rem;
  margin-top: 1rem;
}

@media (max-width: 500px) {
  .container {
    max-width: 18rem;
    padding: 1rem;
    padding-top: 2rem;
  }
  .header {
    flex-direction: column;
  }
}
