@use "../variables" as vars;

.container {
  width: 100%;
}

.workoutsGrid {
  border-top: vars.$border-container;
  padding-top: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
