@use "../variables" as vars;
@use "../mixins";

.container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: vars.$clr-text--light;
}

.avatar {
  // width: 33%;
  display: flex;
  justify-content: center;

  img {
    width: 10rem;
    border-radius: 50%;
    border: vars.$border-input;
  }
}

.details {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  // width: 66%;
  padding-top: 1rem;
}

.nameAndFollow {
  display: flex;
  align-items: center;
  gap: 2rem;

  button {
    @include mixins.primary-btn;
    padding: 0.25rem 2rem;
    text-align: center;
  }
}

.stats {
  display: flex;
  gap: 1.5rem;
  font-size: 1.15rem;

  span {
    font-weight: bold;
  }
}

.info {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.centered {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: vars.$clr-text--light;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .details {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .container {
    border: none;
    padding: 0;
  }
}
