@use "../variables" as vars;
@use "../mixins";

.input {
  padding: 0.5rem;
  width: 80%;
  font: inherit;
  background: vars.$clr-primary;
  color: vars.$clr-text--light;
  border: vars.$border-input;

  &:focus {
    border: vars.$border-container;
  }
}

.btn {
  @include mixins.primary-btn;
}
