@use "../variables" as vars;

.editContainer {
  width: 80%;
}

.exerciseEdit {
  display: flex;
  align-self: center;
  align-items: center;
  input {
    background: none;
    padding: 0.5rem;
    border: vars.$border-input;
    font: inherit;
    color: inherit;
  }
}

.editName {
  width: 30%;
}

.editNum {
  width: 20%;
}

.deleteBtn {
  margin-left: 4px;
  &:hover {
    color: vars.$clr-danger;
  }
}
