@use "../variables" as vars;
@use "../mixins";

.createBtn {
  color: vars.$clr-text--light;
  @include mixins.center-col;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    color: vars.$clr-secondary;
  }
}

.workoutsGrid {
  border-top: vars.$border-container;
  padding-top: 2rem;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
